


/*smallest screen 320-400px*/

@media only screen and (max-width: 400px) {

    
     .icon-subject-item h3,
    .subject-content,
    .sejarah-style {
        font-size: 78%;
    }
    
    .icon-subject-item i {
    font-size: 150%;
}
    
    }


@media only screen and (min-width: 401px) and (max-width: 441px) {

    .icon-subject-item h3 {
     font-size: 80%; 
}
    
    
    .icon-subject-item i {
    font-size: 180%;
}
    
    }

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

